apiVersion: v1
kind: Service
metadata:
  name: payment-gateway-service
  namespace: default
  labels:
    app: payment-gateway
spec:
  type: LoadBalancer
  selector:
    app: payment-gateway
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
  sessionAffinity: None
